#why_us {
    background: #f8fbfd none repeat scroll 0 0;
    padding-bottom: 50px;
    line-height: 18px;
}
.why_us_item{ 
    padding-top: 55px;
}
#why_us .fa{
    border-radius: 100%;
    box-shadow: 0 0 0 10px #ffcb0f, 0 0 0 20px #fadb64, 0 0 0 30px #f7e59c;
    padding: 38px;
    font-size:45px;
}
.why_us_item > h4 {
    font-size: 15px;
    margin: 60px 0 20px;
}
.text-center {
    text-align: center !important;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .head_title p{
    line-height: 2.3rem;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-offset-2{
    margin-left:16.66666667%
 }
  .why_us_item{
     padding-top: 55px;
    }
#why_us .fa{
    border-radius: 100%;
    box-shadow: 0 0 0 10px #ffcb0f, 0 0 0 20px #fadb64, 0 0 0 30px #f7e59c;
    padding: 38px;
    font-size:45px;
}
.why_us_item > h4 {
    font-size: 15px;
    margin: 60px 0 20px;
}